header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 40px;
}
body {
	font-family: "helvetica", sans-serif;
	text-align: center;
	border: 40px solid powderblue;
	background: url("https://stmed.net/sites/default/files/shrimp-wallpapers-28304-5951113.jpg") no-repeat scroll 0 0;
}
h1 {
	background-color: powderblue;
}