body {
	font-family: 'Roboto Slab', serif;
	background: url("https://stmed.net/sites/default/files/shrimp-wallpapers-28304-5951113.jpg") no-repeat scroll 0 0;
	padding: 5%;
}
div.container {
	background-color: rgba(255,255,255,0.5);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
svg {
	padding-top: 5%;
	padding-bottom: 5%;
}
h6 {
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	font-size: 4em;
	color: white;
}
input[type=file] {
	
}